.Global-color {
  .repayment{
    height: 100%;
    background: #fff;
  }
  .main{
    padding-top: (308/75)+rem;
    img{
      width: (364/75)+rem;
      height: (263/75)+rem;
      margin: 0 auto;
    }
    p{
      font-size: (28/75)+rem;
      color: #B7C0C9 ;
      text-align: center;
      margin-top: (20/75)+rem;
    }
  }
}
